<?xml version="1.0" encoding="utf-8"?><!-- ~ Copyright 2018,  Jayant Singh, All rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.iilm.iilm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b7adae13bf277e8a294430837469d44119bda57" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="studentConsole.StudentConsoleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name="facultyConsole.FacultyConsoleActivity"
            android:label="@string/title_activity_console"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="facultyConsole.DayPassResponseActivity"
            android:label="@string/title_activity_approve_deny"
            android:screenOrientation="portrait"
            android:theme="@style/AllowDenyTheme" />
        <activity
            android:name="guardConsole.GuardConsoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="studentConsole.DayPassViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="studentConsole.NightPassViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="auth.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="auth.ForgotPasswordActivity" />
        <activity android:name="studentConsole.DayCollegeHoursPassViewActivity" />
        <activity android:name="facultyConsole.DayWorkingPassResponseActivity" />
        <activity android:name="facultyConsole.NightPassResponseActivity"></activity>
    </application>

</manifest>